<style>
#LayerHeader
{
   background-color: #474747;
   background-image: none;
   margin: 0;
}  
#LayerCurve2
{
   background-color: #474747;
   background-image: none;
   margin: 0;
}
#LayerCurve2-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50px;
}
#LayerCurve2-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#LayerCurve2-divider-bottom .divider-fill
{
   fill: #670D0B;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 100px 0px 50px 0px;
   text-align: center;
}
#Heading6
{
   color: #2B579A;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
</style>

<div id="LayerHeader" style="position:relative;text-align:left;width:100%;height:25px;float:left;clear:left;display:block;z-index:8;">
  <div id="LayerCurve2" style="position:relative;text-align:left;width:100%;height:50px;float:left;clear:left;display:block;z-index:13;">
    <div id="LayerCurve2-divider-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 458.89" preserveAspectRatio="none">
        <path class="divider-fill" style="opacity:0.2" d="M394.87 433.4C488.07 402 572.38 322.71 656.53 241c-73.83 19-145.79 48.57-216.67 77.31-98.09 39.78-199.68 78.93-304.4 86.55 84.78 42.95 173.24 57.58 259.41 28.54zM656.53 241c45.78-11.75 92.27-19.4 139.69-20.19 70.57-1.16 138.4 12.7 203.78 36.37V0c-59.88 17.86-118.67 47.58-174.92 89.39C767.3 132.33 712 187.19 656.53 241zM135.46 404.86C88.86 381.25 43.38 349.08 0 310.9v82.75a378.35 378.35 0 0 0 81.63 12.23 485.13 485.13 0 0 0 53.83-1.02z"/>
        <path class="divider-fill" d="M1000 458.89V257.18c-65.38-23.67-133.21-37.53-203.78-36.37-47.42.79-93.91 8.44-139.69 20.19-84.15 81.71-168.46 161-261.66 192.4-86.17 29-174.63 14.41-259.41-28.54a485.13 485.13 0 0 1-53.83 1A378.35 378.35 0 0 1 0 393.65v65.24z"/>
      </svg>
    </div>
       <!--
    <div id="wb_Heading6" style="display:inline-block;width:100%;z-index:5;">
      <h1 id="Heading6">Curve 2</h1>
    </div>
       -->
  </div>
</div>
