<div class="footer">
  <footer>
    <a href="https://www.youtube.com/c/ItsNautHuman">
      <img alt="youtube" src="{{site.url}}/images/youtube.png" target="_blank" width=24" height="24"></a>
    <a href="https://www.tiktok.com/@itsnauthuman">
      <img alt="tiktok" src="{{site.url}}/images/tiktok.png" target="_blank" width=24" height="24"></a>
    <a href="http://instagram.com/itsnauthuman">
      <img alt="instagram" src="{{site.url}}/images/instagram.png" target="_blank" width=24" height="24"></a>
    <a href="https://twitter.com/itsnauthuman">
      <img alt="twitter" src="{{site.url}}/images/twitter.png" target="_blank" width=24" height="24"></a>
  </footer>
</div>
