<style>
  div.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8EBE4;
  }
  div.feature {
    display: flex;
    max-width: 900px;
  }
  div.feature-image {
    padding: 35px 20px;
  }
  div.feature-details {
    padding: 35px 20px;
  }
  div.feature p {
    color: #28282B;
    background-color: #E8EBE4;
    padding: 0em 0em 0.5em 0em;
  }
  div.feature h3 {
    color: #28282B;
    background-color: #E8EBE4;
    padding: 0em 0em 0.5em 0em;
  }
  div.feature h1 {
    color: #28282B;
    background-color: #E8EBE4;
    padding: 0em 0em 0.5em 0em;
  }
  div.feature h2 {
    color: #28282B;
    background-color: #E8EBE4;
    padding: 0em 0em 0.5em 0em;
  }
  div.feature-image img {
    padding: 3px 0px 0px 0px;
    /* box-shadow: 4px 4px 2px lightgrey; */
  }	
</style>

<div id="emcee_panel" class="feature-wrapper">
  <div class="feature">
    <div class="feature-image">
      <img class="speaker-image" src="{{site.url}}/images/cullen_grey.webp" alt="" width="150"/>
    </div>

    <div class="feature-details">
      <h3>
        Welcome to our hosts Steve Chen and Casey Watts!
      </h3>

      <p>
        <a href="https://www.linkedin.com/in/stevechendc/" target="_blank">Steve</a>
        is heavily involved in the DC and NYC tech meetup community.
        In DC, he co-founded DC Code & Coffee, hosted groups like NodeDC & DCJS, and now runs ReactDC and DC Product & Pastries. 
        In NYC and beyond, he founded and operates as the Community Executive Officer of the 
        <a href="https://codeandcoffee.org/" target="_blank">Code &amp; Coffee</a>
        organization, 
        a series of community-led meetups in 21 US cities and growing! He has even been 
        <a href="https://www.youtube.com/watch?v=SOiq4acY_SM" target="_blank">recognized by Meetup</a>
        for his work with NYC Code & Coffee. 
        Previously he was the Head of Developer Relations at Openbase, and an early engineer at DC startups, Framebridge and Arcadia.
      </p>
    </div>
  </div>
</div>
