  div.post-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.post {
    background-color: #DCE1E9;
  }
  div.post-image {
    padding: 20px;
  }
  img.post-image {
    max-width: 900px;
  }
  div.post-wrapper a.project-title {
    position: relative;
    top: -20%;
    color: white;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
  }
