  div.post-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.post {
    background-color: #DCE1E9;
  }
  div.post-image {
    padding: 20px;
  }
  img.post-image {
    max-width: 900px;
  }
