<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Griffy&display=swap" rel="stylesheet">    

    <style>
      body {
        background: Black;
        color: WhiteSmoke;
        font-family: "Asul";
        font-size: 20px;
      }
      h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-family: "Griffy";
        font-size: 50px;
        text-align: center;
      }
      div.content {
        padding: 1em;
        margin: 0 auto;
        max-width: 850px;
      }
    </style>
  </head>
  <body>
  <div class="content">
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    {% include footer.md %}
  </div>
  </body>
</html>
