<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Naut Human Productions</title>

    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/nauthuman.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/posts.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Griffy&display=swap" rel="stylesheet">    

  </head>
  <body>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
